@charset "utf-8";

html {
	background-color: lightsteelblue;
	text-align: center;
	font-family: Merriweather;
	list-style-position: inside;
}

main {
  color: rgb(0, 0, 0);
  font-size: 30px;
}

p#tagline {
	font-style: italic;
}
