html {
	background-color: lightsteelblue;
	text-align: center;
	font-family: Arial, sans-serif;
	list-style-position: inside;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

main {
	width: 50%;
	height: auto;
	text-align: left;
	margin: auto;
}

p id {
	font-style: italic;
	text-align: left;
}
