@charset "utf-8";

html {
	background-color: lightsteelblue;
	text-align: center;
	font-family: Arial, sans-serif;
	list-style-position: inside;
}

ul {
	list-style-position: inside;
	text-align: left;
}

p {
	padding-left: 1em;
	padding-right: 1em;
	text-align: left;
}

footer {
	text-align: center;



