@charset "utf-8";

html {
	background-color: lightsteelblue;
	font-family: Arial, sans-serif;
	list-style-position: inside;
}

h1, h2 {
	text-align: center;
}

body {
	margin-left: 25%;
	margin-right: 25%;
}

.center {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}

p {
	font-size: 110%;
}

p#tagline {
	font-style: italic;
}

footer {
	text-align: center;
}
